<?xml version="1.0"?>
<config>
    <modules>
        <Web_States>
            <version>0.2.0</version>
        </Web_States>
    </modules>
    <global>
        <models>
            <web_states>
                <class>Web_States_Model</class>
                <resourceModel>web_states_mysql4</resourceModel>
            </web_states>
            <web_states_mysql4>
                <class>Web_States_Model_Mysql4</class>
                <entities>
                    <states>
                        <table>directory_country_region</table>
                    </states>
                </entities>
            </web_states_mysql4>
        </models>
        <blocks>
            <web_states>
                <class>Web_States_Block</class>
            </web_states>
        </blocks>
        <helpers>
            <web_states>
                <class>Web_States_Helper</class>
            </web_states>
        </helpers>
        <resources>
            <web_states_setup>
                <setup>
                    <module>Web_States</module>
                </setup>
            </web_states_setup>
            <web_states_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </web_states_read>
            <web_states_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </web_states_write>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <web_states after="Mage_adminhtml">Web_States_Adminhtml</web_states>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <web_states>
                    <file>web_states.xml</file>
                </web_states>
            </updates>
        </layout>
        <translate>
            <modules>
                <Web_States>
                    <files>
                        <default>Web_States.csv</default>
                    </files>
                </Web_States>
            </modules>
        </translate>
    </adminhtml>
</config>
